@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

/* navbar*/
.container{
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header{
    grid-area: header;
    background: #203040 ;
    padding: 1rem;  
}
header a{
    color: #fff;
  
}

.badge{
    background-color: #f02020;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

header div:first-child{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
    display: inline-block;
    margin-left: 2rem ;
    
}
header div:not(:first-child),
.icon {
    font-size: 1.8rem;
    margin-right: 2rem ;
    list-style: none;
}

header div:not(:first-child) a:hover{
    color: #000;
}


main{
    grid-area:  main;
    padding: 1rem;
}

footer{
    grid-area: footer;
    background: #203040;
    color: #fff;
    padding: 2rem;
}

footer span{
    margin-right: 10px;
    
}

footer span a{
    color: #fff
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center{
    justify-content: center;
}

.row > .col-1{
    margin-left: 4.5rem;
    margin-right: 25rem;
    margin-bottom: 5rem;
    flex: 1 1 25rem;
    width: 100%;
}
.row > .col-2{
    flex: 2 1 50rem;
    margin-left: 4.5rem;
}
@media    (max-width: 600px) {
    .row > .col-2{
        width: 50%;
        margin: 0;
    }

    .row > .col-1{
        margin-left:0;
        margin-right: 0;    
     }

     img.img__large{
         width: 100%;
        padding: 0;
     }
     footer{
         font-size: 1rem;
     }
}

img.image__medium{
    width: 290px;
    height: 166px; 
    max-width: 29rem;
    width: 100%;
    border-radius: 0.5rem;
}

img.image__large{
    border-radius: 0.5rem;
    width: 100%;
    height: 60vh;
}

img.image__small{
    border-radius: 0.5rem;
    width: 50px;
    height: 50px;
}

/*card*/
.card{
    border: 0.1rem solid #c0c0c0;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.card-body{
    padding:  1rem;
}

.card-body > *{
    margin-bottom: 0.5rem;
}

.products{
    padding: 2rem;
}

.price{
    font-size: 1.9rem;
}

.product-rating span{
    color: #f0c040;
    margin: 0.1rem;
}


.product-rating p{
    float: right;
    color: #c0c0c0;
}

.qty{
    text-align: right;
    padding: 5px
 
}

.btn-qty{
    background: none;
    border: none;
    outline: none;
}

.btn-qty:hover{
    border: none;
    outline: none;
}



/* error box*/
.danger{
    padding: 1rem;
    width: 100%;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    color: #a02020;
    background: #ffe0e0e0;
}

.info{
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    color: #2020a0;
    background: #e0e0ff;
}

/* cart */
 cart-item{
     min-width: 30rem;
 }

 /* sign in*/
 .form{
     max-width: 60rem;
     margin:  0 auto;
 }

 .form > div{
     display: flex;
     flex-direction: column;
     margin: 1rem;
}
input[type="text" i],
input[type="email" i],
input[type="password" i] {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 0.5rem;
}
.form label{
    margin: 1rem 0;
    display: block;
}

.dropdown{
   display: inline-block; 
   position: relative;
}

.dropdown-content{
    position: absolute;
    display: none;
    right: 0;
    min-width: 15rem;
    padding: 1rem;
    z-index: 1;
    background-color: #203040;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/*checkout*/

.checkout > div{
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
    font-weight: bold;

}

.checkout > div.active{
    border-top-color: #f08000;
    color: #f08000;
}
